<template>
    <div class="about_component">
        <div class="container">
            <div class="about_header">
                <h1><img :src="image" /> POZNAJ NAS BLIŻEJ <img :src="image2" /></h1>
                <hr>
            </div>
            <div class="about_text">
                <p>Nasza Pizzeria działa nieprzerwanie od 2010 roku. Przez cały ten czas doskonaliliśmy nasz kunszt, aby móc serwować Państwu jak najsmaczniejsze dania kuchni włoskiej. Jesteśmy szalenie dumni z poziomu naszych potraw dzięki którym wyrobiliśmy sobie nie tylko markę, ale i również solidne miejsce na wrocławskim rynku gastronomicznym. Zawdzięczamy to przede wszystkim świetnym kucharzom, ciężkiej i sumiennej pracy oraz świeżości wszystkich produktów dostarczanych do naszej pizzerii przez zaprzyjaźnionych dostawców z naszego regionu. Tworzymy wspaniałą rodzinną atmosferę nie tylko dla Państwa, ale również dla naszych pracowników dzięki czemu wkładają oni serce w każdy trójkącik naszej niepowtarzajnej pizzy!</p>
            </div>
            <div class="col-md-12 google_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.175779203752!2d17.12256791591498!3d51.14210954516634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe8887503c091%3A0x5092809b3fdb3b17!2sLitewska%2012%2C%2051-354%20Wroc%C5%82aw!5e0!3m2!1spl!2spl!4v1630421364690!5m2!1spl!2spl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="about_header">
                <h2>Sekret naszego sukcesu!</h2>
                <h4>W 4 krokach!</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 about_box">
                    <div class="box_svg_one">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </div>
                    <div class="box_text">
                        <h5>Najlepsi pizzermani w branży!</h5>
                        <p>Doświadczeni ludzie, którzy znają się na swoim fachu!</p>
                    </div>
                </div>
                <div class="col-md-3 about_box">
                    <div class="box_svg_two">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </div>
                    <div class="box_text_three">
                        <h5>Staranna kontrola produktów!</h5>
                        <p>Przykładamy ogromną uwagę do jakości oraz świeżości produktów, które używamy!</p>
                    </div>
                </div>
                <div class="col-md-3 about_box">
                    <div class="box_svg_three">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                        </svg>
                    </div>
                    <div class="box_text">
                        <h5>Wielokrotnie nagradzane ciasto!</h5>
                        <p>Największym sekretem jest nasze ciasto, które zostało docenione przez najlepszych!</p>
                    </div>
                </div>
                <div class="col-md-3 about_box">
                    <div class="box_svg_four">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                        </svg>
                    </div>
                    <div class="box_text">
                        <h5>Serce na każdym etapie przygotowania!</h5>
                        <p>Niepowtarzalny smak płynie ze staranności i serca włożonego w każdy wypiek!</p>
                    </div>
                </div>
            </div>
            <div class="about_opinion">
                <div class="about_header">
                    <h2>Posłuchaj opinii naszych klientów!</h2>
                    <hr>
                </div>
                <div class="row opinion_row">
                    <div class="col-md-4 about_opinion">
                        <div class="review review--box">
						<div class="review_stars">★★★★★</div>
						<div class="review_author">
							<p>Adam Małysz</p>
						</div>
						<div class="review_opinion">
							<h4>Pyszna!</h4>
							<p>Po udanych zawodach razem z chłopakami często wyskakujemy na pizze.</p>
						</div>
					</div>
                    </div>
                    <div class="col-md-4 about_opinion">
                        <div class="review review--box">
						<div class="review_stars">★★★★★</div>
						<div class="review_author">
							<p>Mariusz Pudzianowski</p>
						</div>
						<div class="review_opinion">
							<h4>Dodatków na bogatości!</h4>
							<p>Nawet po najcięższym treningu nie jestem w stanie wcisnąć całej!
                            </p>
						</div>
					</div>
                    </div>
                    <div class="col-md-4 about_opinion">
                        <div class="review review--box">
						<div class="review_stars">★★★★★</div>
						<div class="review_author">
							<p>Andrzej Duda</p>
						</div>
						<div class="review_opinion">
							<h4>Szanuję!</h4>
							<p>Najlepsza pizza w kraju. Prezes był zachwycony,a i kot wyglądał na zadowolonego!</p>
						</div>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import image from "~/img/friends.png"
import image2 from "~/img/friends2.png"
export default {
data: function () {
    return {
      image: image,
      image2: image2,
    }
  }
}
</script>

<style lang="scss">

.about_header {
    text-align: center;
    margin: 40px 0;
    img {
        width: 75px;
    }
    hr {
        margin: 0 100px;
    }
}

.about_text {
    margin-bottom: 25px;
}

hr {
    border-top: 3px solid rgb(219, 219, 219)
}

.about_box {
    text-align: center;
}

.box_svg_one {
    margin-bottom: 20px;
    svg {
        fill: rgb(0, 98, 255);
    }
}

.box_svg_two {
    margin-bottom: 20px;
    svg {
        fill: green;
    }
}

.box_svg_three {
    margin-bottom: 20px;
    svg {
        fill: rgb(238, 202, 0);
    }
}

.box_svg_four {
    margin-bottom: 20px;
    svg {
        fill: red
    }
}

.opinion_row {
    text-align: center;
    margin-bottom: 30px;
}

.review_stars {
    font-size: 30px;
    color: #5cb85c;
}

</style>