<template>
  <div class="container">
    <div class="contact_header">
        <h1><img :src="image" /> SKONTAKTUJ SIĘ Z NAMI <img :src="image" /></h1>
        <hr>
    </div>
     <div class="row boxes">
      <div class="col-md-4 contact_box">
        <div class="box_svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg>
        </div>
        <div class="text_svg">
          <a :href="`tel:${788387888}`">788-387-888</a>
        </div>
      </div>
      <div class="col-md-4 contact_box">
        <div class="box_svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
            <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"/>
          </svg>
        </div>
        <div class="text_svg">
          <p>Wrocław</p>
          <p>Powstańców Śląskich 78</p>
        </div>
      </div>
      <div class="col-md-4 contact_box">
        <div class="box_svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
        </div>
        <div class="text_svg">
          <p>Pizzeria Śląska fanpage</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form">
        <div  class="form_header">
          <h2>Zamów swoją ulubioną pizze!</h2>
        </div>
        <div class="delivery_checkbox">
            <b-form-checkbox class="col-md-1">Dostawa</b-form-checkbox>
            <b-form-checkbox class="col-md-1">Odbiór</b-form-checkbox>
          </div>
        <form>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleInputName">Imię</label>
              <input
                id="exampleInputName"
                v-model="name"
                type="name"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Wpisz swoje imię"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPhone1">Telefon</label>
              <input
                id="exampleInputPhone1"
                v-model="phone"
                type="phone"
                class="form-control"
                aria-describedby="phoneHelp"
                placeholder="Telefon kontaktowy"
              />
            </div>
          </div>
          <div class="row adress_pizza_row">
          <div class="col-md-8 contact_adress">
            <label for="exampleInputAdress1">Adres</label>
              <input
                id="exampleInputAdress1"
                v-model="phone"
                type="adress"
                class="form-control"
                aria-describedby="adressHelp"
                placeholder="Miejsce dostawy"
              />
              
          </div>
          <div class="col-md-4 pizza_type">
            <label for="exampleInputAdress1">Wybierz z menu</label>
            <b-form-select
      id="inline-form-custom-select-pref"
      class="mb-2 mr-sm-2 mb-sm-0"
      :options="[{ text: 'Pizza', value: null }, 'Pizza 1', 'Pizza 2', 'Pizza 3', 'Pizza 4', 'Pizza 5', 'Pizza 6', 'Pizza 7', 'Pizza 8', 'Pizza 9', 'Pizza 10', 'Pizza 11']"
      :value="null"
    ></b-form-select>
          </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Masz jakieś uwagi?</label>
            <textarea
              id="exampleFormControlTextarea1"
              class="form-control"
              rows="3"
              placeholder="Poinformuj nas o swoich zachciankach!"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Zamów</button>
          <div class="contact_time">
            <p>Czas realizacji zamówienia: około godziny</p>
            <p>Dowóz na terenie Wrocławia powyżej 40zł: darmowy</p>
            <p>Dowóz na teranie Wrocławia poniżej 40zł: 7zł</p>
          </div>
        </form>
      </div>
       <div class="col-md-6 form">
        <div  class="form_header">
          <h2>Lub stwórz swoją własną!</h2>
        </div>
        <div class="delivery_checkbox">
            <b-form-checkbox class="col-md-1">Dostawa</b-form-checkbox>
            <b-form-checkbox class="col-md-1">Odbiór</b-form-checkbox>
          </div>
        <form>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleInputName">Imię</label>
              <input
                id="exampleInputName"
                v-model="name"
                type="name"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Wpisz swoje imię"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPhone1">Telefon</label>
              <input
                id="exampleInputPhone1"
                v-model="phone"
                type="phone"
                class="form-control"
                aria-describedby="phoneHelp"
                placeholder="Telefon kontaktowy"
              />
            </div>
          </div>
          <div class="row adress_pizza_row">
          <div class="col-md-8 contact_adress">
            <label for="exampleInputAdress1">Adres</label>
              <input
                id="exampleInputAdress1"
                v-model="phone"
                type="adress"
                class="form-control"
                aria-describedby="adressHelp"
                placeholder="Miejsce dostawy"
              />
              
          </div>
          <div class="col-md-4 pizza_type">
            <label for="exampleInputAdress1">Na którą godzinę?</label>
            <b-form-select
              id="inline-form-custom-select-pref"
              class="mb-2 mr-sm-2 mb-sm-0"
              :options="[{ text: 'Godzina dostawy', value: null }, '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']"
              :value="null">
            </b-form-select>
          </div>
        </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Masz jakieś uwagi?</label>
            <textarea
              id="exampleFormControlTextarea1"
              class="form-control"
              rows="3"
              placeholder="Poinformuj nas o swoich zachciankach!"
            ></textarea>
          </div>
         <div class="row">
            <div class="col-md-6 pizza_choice_one">
              <div class="choice_form_header">
                <h6>Wybierz rodzaj ciasta</h6>
              </div>
              <div class="pizza_choice_one_options">
                <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="A">Cienkie</b-form-radio>
                <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="B">Grube</b-form-radio>
                <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="B">Serowe brzeszki</b-form-radio>
              </div>
            </div>

          <div class="col-md-6 pizza_choice_two">
              <div class="choice_form_header">
                <h6>Wybierz ulubione sosy</h6>
              </div>
              <div class="pizza_choice_one_options">
                <b-form-checkbox class="col-md-1">Czosnkowy</b-form-checkbox>
                <b-form-checkbox class="col-md-1">Ostry</b-form-checkbox>
                <b-form-checkbox class="col-md-1">Śmietanowy</b-form-checkbox>
              </div>
            </div>
         </div>
         <div class="row">
           <div class="col-md-6 pizza_choice_tree">
              <div class="choice_form_header">
                <h6>Dodatki mięsne</h6>
              </div>
              <div class="pizza_choice_one_options">
                <b-form-checkbox>Szynka</b-form-checkbox>
                <b-form-checkbox>Salami</b-form-checkbox>
                <b-form-checkbox>Gyros</b-form-checkbox>
                <b-form-checkbox>Kiełbasa</b-form-checkbox>
                <b-form-checkbox>Kurczak</b-form-checkbox>
                <b-form-checkbox>Meet Bals</b-form-checkbox>
                <b-form-checkbox>Boczek</b-form-checkbox>
              </div>
            </div>
            <div class="col-md-6 pizza_choice_four">
              <div class="choice_form_header">
                <h6>Dodatki warzywne</h6>
              </div>
              <div class="pizza_choice_one_options">
                <b-form-checkbox>Kukurydza</b-form-checkbox>
                <b-form-checkbox>Czerwona fasola</b-form-checkbox>
                <b-form-checkbox>Cebula</b-form-checkbox>
                <b-form-checkbox>Papryka</b-form-checkbox>
                <b-form-checkbox>Rukola</b-form-checkbox>
                <b-form-checkbox>Pieczarki</b-form-checkbox>
                <b-form-checkbox>Cukinia</b-form-checkbox>
              </div>
            </div>
         </div>
          <button type="submit" class="btn btn-primary submit_two">Zamów</button>
        </form>
        </div>
    </div>
  </div>
</template>

<script>
import image from "~/img/phones.png"
export default {
data: function () {
    return {
      image: image,
    }
  }
}
console.log('Hello World');
</script>


<style lang="scss">

.contact_page {
  margin-top: 50px;
}

.contact_header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  img {
    width: 60px;
  }
  hr {
    margin: 0 100px;
  }
}

.box_svg {
  text-align: center;
}

.text_svg {
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 50px;
  p {
    margin-bottom: 0;
  }
  a {
    color: black;
  }
}

.form_header {
  margin-bottom: 25px;
}

.contact_time {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}

.btn {
  margin-bottom: 30px;
  background: green;
}

.contact_info {
  widows: 300px;
  .contact_info_header {
    margin-bottom: 50px;
    margin-left: 50px;
  }
}

.adress_pizza_row {
  margin-bottom: 15px;
}

.delivery_checkbox {
  display: flex;
  justify-content: space-around;
}

.choice_form_header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.svg {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.svg_description {
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
  p {
    margin: 0;
    font-weight: bold;
  }
  a {
    text-align: center;
    color: black;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
    color: green;
  }
}

.submit_two {
  margin-top: 15px;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
  position: absolute;
}

// PHONE //

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 23px;
    text-align: center;
  }
 .contact_header {
    h1 {
      font-size: 30px;
    }
    img {
      width: 50px;
    }
    hr {
      margin: 0 30px;
    }
  }

  .box_svg {
    svg {
      width: 30px;
    }
  }

  .text_svg {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .btn {
    margin-bottom: 10;
  }

  .contact_time {
    margin-bottom: 25px;
    margin-top: 0;
    p {
      font-size: 12px;
      margin-bottom: 5;
    }
  }
}

// TABLET //

@media screen and (min-width: 481px) and (max-width: 768px) {
  h2 {
    font-size: 23px;
    text-align: center;
  }
 .contact_header {
    h1 {
      font-size: 30px;
    }
    img {
      width: 50px;
    }
    hr {
      margin: 0 30px;
    }
  }

  .contact_box:last-child {
    margin-bottom: 20px;
  }

  .box_svg {
    svg {
      width: 30px;
    }
  }

  .text_svg {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .btn {
    margin-bottom: 10;
  }

  .contact_time {
    margin-bottom: 25px;
    margin-top: 0;
    p {
      font-size: 15px;
      margin-bottom: 5;
    }
  }
}
</style>