<template>
  <div class="footer">
    <div class="container">
        <div class="row boxes">
      		<div class="col-md-3 footer_box">
        		<div class="footer_box_svg">
          			<img :src="phone" />
        		</div>
        		<div class="phone_text_svg">
          			<a :href="`tel:${788387888}`">788-387-888</a>
        		</div>
      		</div>
      		<div class="col-md-3 footer_box">
        		<div class="footer_box_svg">
          			<img :src="pizzeria" />
        		</div>
        		<div class="text_svg">
          			<p>Wrocław</p>
          			<p>Powstańców Śląskich 78</p>
        		</div>
      		</div>
			<div class="col-md-3 footer_box">
				<div class="footer_box_svg">
				<img :src="fb" />
				</div>
				<div class="text_svg">
				<p>Pizzeria Śląska fanpage</p>
				</div>
			</div>
			<div class="col-md-3 oppening_time">
				<div class="footer_box_svg">
          			<img :src="open" />
        		</div>
					<ul>
						<li>Pn-Pt/Nd: 10:00-23:00</li>
						<li>Sobota: 10:00-00:00</li>
					</ul>
			</div>
		</div>
		<div class="col-md-12 footer_links">
			<ul>
				<NuxtLink to="/">Home</NuxtLink>
				<NuxtLink to="about">O nas</NuxtLink>
				<NuxtLink to="menu">Menu</NuxtLink>
				<NuxtLink to="special_offer">Promocje</NuxtLink>
				<NuxtLink to="contact">Kontakt</NuxtLink>
			</ul>
		</div>
    </div>
  </div>
</template>
<script>
import pizzeria from "~/img/pizzeria.png"
import facebook from "~/img/facebook.png"
import phone from "~/img/phone.png"
import open from "~/img/open-sign.png"
export default {
 	data: function () {
    	return {
        	pizzeria: pizzeria,
			fb: facebook,
			phone: phone,
			open: open,
    	}
	}
}

</script>

<style lang="scss">
.footer {
	color: #007bff;
	background-color: #1f1e1e;
	font-size: 14px;

}

.footer_logo {
	svg {
		margin-top: 10px;
	}
	p {
		text-align: center;
		font-weight: bold;
		margin-top: 10px;
	}

}

.oppening_time {
	margin-top: 10px;
	ul {
		font-weight: bold;
		text-align: center;
		margin-top: 20px;
		list-style: none;
		padding: 0;
	}
}

.footer_box {
	margin-top: 10px;
	p {
		margin-bottom: 0;
	}
}

.footer_box_svg {
	text-align: center;
	margin-top: 10px;
	svg {
		margin-top: 10px;
		fill: white;
	}
	img {
		width: 55px;
		
	}
}

.text_svg {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	a {
		color: #007bff;
	}
}

.phone_text_svg {
	text-align: center;
  	font-weight: bold;
  	margin-top: 25px;
  	margin-bottom: 20px;
}

.footer_links {
	padding-left: 100px;
	padding-right: 100px;

	ul {
		font-size: 14px;
		margin-bottom: 0;
		padding-bottom: 5px;
		display: flex;
		justify-content: space-around;
	}
	a:hover {
		color: white;
		text-decoration: none;
	}
}

// PHONE //

@media only screen and (max-width: 480px) {
	.footer_links {
		padding: 0;
		ul {
			font-size: 12px;
			padding: 0;
		}
	}

	.footer_box {
		margin: 0;
	}

	.oppening_time {
		margin: 0;
	}
}

// TABLET //

@media screen and (min-width: 481px) and (max-width: 768px) {
	.footer_links {
		padding: 0;
	}
}
</style>