<template>
  <div class="img-fluid backgroundImage" :style="{ backgroundImage: `url(${backgroundImagePath})` }">  
    <div class="container">
      <div class="hero_header">
        <h1>Pizzeria Śląska</h1>
        <a class="hero_logo">
			    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-suit-spade" viewBox="0 0 16 16">
  				  <path d="M8 0a.5.5 0 0 1 .429.243c1.359 2.265 2.925 3.682 4.25 4.882.096.086.19.17.282.255C14.308 6.604 15.5 7.747 15.5 9.5a4 4 0 0 1-5.406 3.746c.235.39.491.782.722 1.131.434.659-.01 1.623-.856 1.623H6.04c-.845 0-1.29-.964-.856-1.623.263-.397.51-.777.728-1.134A4 4 0 0 1 .5 9.5c0-1.753 1.192-2.896 2.539-4.12l.281-.255c1.326-1.2 2.892-2.617 4.251-4.882A.5.5 0 0 1 8 0zM3.711 6.12C2.308 7.396 1.5 8.253 1.5 9.5a3 3 0 0 0 5.275 1.956.5.5 0 0 1 .868.43c-.094.438-.33.932-.611 1.428a29.247 29.247 0 0 1-1.013 1.614.03.03 0 0 0-.005.018.074.074 0 0 0 .024.054h3.924a.074.074 0 0 0 .024-.054.03.03 0 0 0-.005-.018c-.3-.455-.658-1.005-.96-1.535-.294-.514-.57-1.064-.664-1.507a.5.5 0 0 1 .868-.43A3 3 0 0 0 14.5 9.5c0-1.247-.808-2.104-2.211-3.38L12 5.86c-1.196-1.084-2.668-2.416-4-4.424-1.332 2.008-2.804 3.34-4 4.422l-.289.261z"/>
			    </svg>
          <hr>
		    </a>
        <h4>Sprawdź co dla Ciebie przygotowaliśmy!</h4>
        <button><a href="menu">M E N U</a></button>
      </div>
      <div class="row">
        <div class="hero_opinions">
          <div class="row hero_opinion_row">
            <div class="col-md-4 hero_opinion">
              <div class="review review--box">
						    <div class="review_stars">★★★★★</div>
						    <div class="review_author">
							    <p>Adam Małysz</p>
						    </div>
						    <div class="review_opinion">
							    <h4>Pyszna!</h4>
							    <p>Po udanych zawodach razem z chłopakami często wyskakujemy na pizze.</p>
						    </div>
					    </div>
             </div>
              <div class="col-md-4 hero_opinion">
                <div class="review review--box">
						      <div class="review_stars">★★★★★</div>
						      <div class="review_author">
							      <p>Mariusz Pudzianowski</p>
						      </div>
						      <div class="review_opinion">
							      <h4>Dodatków na bogatości!</h4>
							      <p>Nawet po najcięższym treningu nie jestem w stanie wcisnąć całej!</p>
						      </div>
					      </div>
              </div>
              <div class="col-md-4 hero_opinion">
                <div class="review review--box">
						      <div class="review_stars">★★★★★</div>
						      <div class="review_author">
							      <p>Andrzej Duda</p>
						      </div>
						      <div class="review_opinion">
							      <h4>Szanuję!</h4>
							      <p>Najlepsza pizza w kraju. Prezes był zachwycony, a i kot wyglądał na zadowolonego!</p>
						      </div>
					      </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row hero_offer_row">
        <div class="col-md-3 hero_offer">
          <div class="hero_offer_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
              <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </div>
          <div class="hero_offer_header">
            <h4>Darmowa dostawa!</h4>
          </div>
        </div>
        <div class="col-md-3 hero_offer">
          <div class="hero_offer_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
              <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
              <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
            </svg>
          </div>
          <div class="hero_offer_header">
            <h4>Ekspresowa realizacja!</h4>
          </div>
        </div>
        <div class="col-md-3 hero_offer">
          <div class="hero_offer_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
              <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8 13.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
            </svg>
          </div>
          <div class="hero_offer_header">
            <h4>Atrakcyjne ceny!</h4>
          </div>
        </div>
        <div class="col-md-3 hero_offer">
          <div class="hero_offer_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
              <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
            </svg>
          </div>
          <div class="hero_offer_header">
            <h4>Super promocje!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import backgroundImagePath from '~/img/hero.jpg'
export default {
  data() {
    return { backgroundImagePath }
  }
}

</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero_oppening {
  color: white;
}

.hero_header {
  color: white;
  text-align: center;
  font-family: 'Allison', cursive;

  h1 {
    padding-top: 100px;
    font-size: 125px;
    margin-bottom: 0;
  }

  hr {
    color: white;
    border-top: 2px solid white;
  }

  h4 {
    margin-bottom: 20px;
    font-size: 75px;
  }

  .hero_button {
    position: static;
  }

  button {
    padding: 3px 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #343a4080;
    border: 0;
    border-radius: 40px;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.555) 0px -12px 30px, rgba(255, 255, 255, 0.555) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    
    a {
      color: white;
      transition: all 0.4s ease-in-out;
      position: static;

      &:hover {
         color: #007bff;
        text-decoration: none;
      }
    }
  }
}

.hero_opinion_row {
    padding-top: 50px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.review_stars {
    font-size: 30px;
    color: #5cb85c;
}

.hero_offer_row {
  padding-bottom: 30px;
  .hero_offer {
    color: white;
    text-align: center;
  }
}

// PHONE //

@media only screen and (max-width: 480px) {
  .hero_header {
    h1 {
      font-size: 75px;
    }
    h4 {
      font-size: 50px;
    }
    button {
      margin-bottom: 0;
    }
  }

  .hero_logo {
    svg {
      width: 50px;
    }
  }

  .review_opinion {
    p {
      padding: 0 25px;
    }
  }

  .hero_offer_svg {
    margin-top: 20px;
  }

  .hero_offer_header {
    h4 {
      margin-bottom: 20px;
    }
  }
}

// TABLET //

@media screen and (min-width: 481px) and (max-width: 768px) {
   .hero_header {
    h1 {
      font-size: 100px;
    }
    h4 {
      font-size: 60px;
    }
    button {
      margin-bottom: 0;
    }
  }

  .review_opinion {
    p {
      padding: 0 25px;
    }
  }

  .hero_offer_svg {
    margin-top: 20px;
  }

  .hero_offer_header {
    h4 {
      margin-bottom: 20px;
    }
  }

}


</style>