<template>
  <div class="container">
    <div class="menu_header">
        <h1><img :src="image" /> MENU <img :src="image" /></h1>
        <hr>
    </div>
    <div class="menu_discription">
      <p>Nasza Pizza dostarczana jest w przeciągu 60 minut od złożenia zamówienia w towarzystwie 2 wybranych przez Państwa sosów!</p>
      <p>Sosy do wyboru: CZOSNKOWY, OSTRY, ŚMIETANOWY</p>
    </div>
    <div class="row">
      <div class="col-md-12 pizza_types">
        <div class="pizza_type">
          <h6>{{ products[0].pizza }}</h6>
          <p>{{ products[0].details }}<span><p>{{ products[0].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[1].pizza }}</h6>
          <p>{{ products[1].details }}<span><p>{{ products[1].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[2].pizza }}</h6>
          <p>{{ products[2].details }}<span><p>{{ products[2].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[3].pizza }}</h6>
          <p>{{ products[3].details }}<span><p>{{ products[3].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[4].pizza }}</h6>
          <p>{{ products[4].details }}<span><p>{{ products[4].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[5].pizza }}</h6>
          <p>{{ products[5].details }}<span><p>{{ products[5].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[6].pizza }}</h6>
          <p>{{ products[5].details }}<span><p>{{ products[6].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[7].pizza }}</h6>
          <p>{{ products[7].details }}<span><p>{{ products[7].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[8].pizza }}</h6>
          <p>{{ products[8].details }}<span><p>{{ products[8].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[9].pizza }}</h6>
          <p>{{ products[9].details }}<span><p>{{ products[9].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[10].pizza }}</h6>
          <p>{{ products[10].details }}<span><p>{{ products[10].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[11].pizza }}</h6>
          <p>{{ products[11].details }}<span><p>{{ products[11].price }}</p></span></p>
          <hr>
        </div>
        <div class="pizza_type">
          <h6>{{ products[12].pizza }}</h6>
          <p>{{ products[12].details }}<span><p>{{ products[12].price }}</p></span></p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import image from "~/img/pizza.png"
export default {
data: function () {
    return {
      image: image,
      products: [
        {pizza: '1.MARGARITTA', details: 'ser, dupa', price: '20zł/24zł'},
        {pizza: '2.CHIPPOLA', details: 'cebula, salami, gyros', price: '22zł/26zł'},
        {pizza: '3.SALAMI', details: 'salami, kukurydza, pieczarki', price: '22zł/26zł'},
        {pizza: '4.PROSCIUTTO', details: 'kukurydza, szynka, boczek', price: '24zł/26zł'},
        {pizza: '5.FUNGI', details: 'pieczarki, szynka', price: '22zł/24zł'},
        {pizza: '6.AMOROSA', details: 'salami, pieczarki, cukinia', price: '26zł/28zł'},
        {pizza: '7.WIEJSKA', details: 'salami, pieczarki, kukurydza, boczek,', price: '30zł/36zł'},
        {pizza: '8.MIĘSNA', details: 'salami, pieczarki, boczek, gyros', price: '40zł/48zł'},
        {pizza: '9.HAWAJSKA', details: 'szynka, ananas', price: '24zł/26zł'},
        {pizza: '10.ITALIANA', details: 'szynka, chilli, świeże pomidory', price: '24zł/26zł'},
        {pizza: '11.WEGETARIAŃSKA', details: 'cebula, papryka, kukurydza, chilli', price: '26zł/28zł'},
        {pizza: '12.SZTOS', details: 'kiełbasa, kukurydza, jajko, pieczarki', price: '30zł/34zł'},
        {pizza: '13.UTOMA', details: 'salami, szynka, boczek, chilli', price: '36zł/40zł'},
      ],
    }
  }
}
</script>

<style lang="scss">

.menu_header {
  margin-bottom: 50px;
  margin-top: 40px;
  img {
    width: 60px;
  }
    h1 {
        text-align: center;
    }
    hr {
    border-top: 2px solid silver;
    margin: 0 100px;
  }
}

.pizza_types {
  margin-bottom: 50px;
  p {
    font-size: 12px;
  }

  span {
    display: flex;
    justify-content: end;
    p {
      margin: 0;
      font-weight: bold;
    }
  }

  .pizza_type {
    line-height: 0;

    hr {
      margin-bottom: 5px;
    }
  }
}

.small_price {
    text-align: center;
    margin: 0;
  }

  .big_price {
    text-align: center;
    margin: 0;
  }

  .menu_discription {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  img {
    width: 50px;
  }
}

// PHONE //

@media only screen and (max-width: 480px) {
  .menu_header {
    h1 {
      font-size: 30px;
    }
    img {
      width: 50px;
    }
    hr {
      margin: 0 30px;
    }
  }

  .menu_discription {
    p {
      font-size: 14px;
    }
  }

  .pizza_type {
    h6 {
      font-size: 17px;
    }
    p {
      font-size: 10px;
    }
  }
}

// TABLET //

@media screen and (min-width: 481px) and (max-width: 768px) {
	.menu_header {
    hr {
      margin: 0 30px;
    }
  }
}
</style>