<template>
    <div class="container">
        <div class="offer_header">
            <h1><img :src="image" /> OFERTY SPECJALNE <img :src="image" /></h1>
            <hr>
        </div>
        <div class="row offer_one">
            <div class="col-md-8 one">
                <span class="label">PROMOCJA!</span>

                <div class="one_header">
                    <h4>DO KAŻDEJ PIZZY 2 SOSY GRATIS</h4>
                </div>
                <div class="one_text">
                    <p>Zawsze do każdej pizzy otrzymasz DWA sosy gratis. Wybierz swoje ulubione i ciesz się nimi bez obaw, że nie wystarczy na skórki! W ofercie mamy: ŚMIETANOWY, czosnkowy I ostry.</p>
                </div>
            </div>
            <div class="col-md-4 one_img">
                <img class="img-fluid" :src="image2" />
            </div>
        </div>
        <div class="row offer_two">
            <div class="col-md-4 two_img">
                <img class="center-block" :src="image3" />
            </div>
            <div class="col-md-8 two">
                <span class="label">PROMOCJA!</span>

                <div class="two_header">
                    <h4>DUŻA W CENIE ŚREDNIEJ</h4>
                </div>
                <div class="two_text">
                    <p>Codziennie w godzinach 10:00 - 12:00 przy zakupie dowolnej dużej pizzy zapłacisz jak za średnią!</p>
                </div>
            </div>
        </div>
        <div class="row offer_three">
            <div class="col-md-8 three">
                <span class="label">PROMOCJA!</span>
                <div class="three_header">
                    <h4>PIZZA ZA FREE</h4>
                </div>
                <div class="one_text">
                    <p>Do każdej pizzy otrzymasz naklejke. Zachowaj je! Zbierz 6 i wymień je w lokalu na darmową wybraną przez Ciebie dużą pizze!</p>
                </div>
            </div>
            <div class="col-md-4 three_img">
                <img class="img-fluid" :src="image5" />
            </div>
        </div>
        <div class="row offer_four">
            <div class="col-md-4 four_img">
                <img class="img-fluid" :src="image4" />
            </div>
            <div class="col-md-8 four">
                <span class="label">PROMOCJA!</span>
                <div class="four_header">
                    <h4>URODZINOWE SZALEŃSTWO</h4>
                </div>
                <div class="four_text">
                    <p>Masz dzisiaj urodziny? Daj nam o tym znać w czasie zamawianie, a my w ramach prezentu damy Ci 50% zniżki na całe zamówienie!</p>
                </div>
            </div>
        </div>
    </div>
    
  
</template>

<script>
import offer from "~/img/offer.png"
import pizza2 from "~/img/mustard.png"
import pizza3 from "~/img/pizza2.png"
import balloons from "~/img/balloons.png"
import stamp from "~/img/stamp.png"
export default {
    data: function () {
    return {
        image: offer,
        image2: pizza2,
        image3: pizza3,
        image4: balloons,
        image5: stamp,
    }
}

}
</script>

<style lang="scss">

.offer_header {
    text-align: center;
    margin-top: 40px;
    hr {
        margin: 0 100px;
    }
    img {
        width: 70px;
    }
}

.label {
        color: white;
        padding: 8px;
        background-color: orange;
        border-radius: 20px;
    }

.offer_one {
    margin-top: 70px;
    margin-bottom: 50px;

    .one {
    background-color: rgb(236, 236, 236);
    border-radius: 150px;
    padding-left: 50px;

    .one_header {
        margin-bottom: 20px;
        margin-top: 20px;
        pad: 10px;
    }
}

    .one_text {
        font-size: 16px;
    }

    .one_img {
        img {
            width: 200px;
            display: block;
            margin: 0 auto;
        }
    }
}

.offer_two {
    margin-top: 50px;
    margin-bottom: 50px;

    .two {
    background-color: rgb(236, 236, 236);
    border-radius: 150px;
    padding-left: 50px;

    .two_header {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

    .two_img {
        img {
            width: 200px;
            display: block;
            margin: 0 auto;
        }
    }
}

.offer_three {
    margin-top: 50px;
    margin-bottom: 50px;

    .three {
    background-color: rgb(236, 236, 236);
    border-radius: 150px;
    padding-left: 50px;

    .three_header {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

    .three_img {
        img {
            width: 200px;
            display: block;
            margin: 0 auto;
        }
    }
}

.offer_four {
    margin-top: 50px;
    margin-bottom: 50px;

    .four {
    background-color: rgb(236, 236, 236);
    border-radius: 150px;
    padding-left: 50px;

    .four_header {
        margin-bottom: 20px;
        margin-top: 20px;
        }
    }

    .four_img {
        img {
            width: 200px;
            display: block;
            margin: 0 auto;
        }
    }
}

// PHONE //

@media only screen and (max-width: 480px) {
    .offer_header {
        h1 {
            font-size: 20px;
        }
        img {
            width: 40px;
        }
        hr {
            margin: 0 40px;
        }
    }

    .one_header {
        h4 {
            font-size: 17px;
            margin: 0;
        }
    }

    .one_text {    
        p {
            font-size: 12px;
        }
    } 

    .two_header {
        h4 {
            font-size: 17px;
            margin: 0;
        }
    }

    .two_text {    
        p {
            font-size: 12px;
        }
    }

    .three_header {
        h4 {
            font-size: 17px;
            margin: 0;
        }
    }

    .three_text {    
        p {
            font-size: 12px;
        }
    }

    .four_header {
        h4 {
            font-size: 17px;
            margin: 0;
        }
    }
    
    .four_text {    
        p {
            font-size: 12px;
        }
    }
}
</style>