$green: #40b7a2;
$green-dark: darken($green, 20);
$green-light: lighten($green, 20);

$font-family-sans-serif: "Nunito", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$yellow: #e7bb41;

$primary: $green;

$menu-height: 4rem;

$transition: .2s ease-out;

$headings-margin-bottom: 2rem;
